/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  font-size:25px;
  padding: 10px 10px ;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: rgb(140, 131, 192);
  border-radius: 4px;
  min-height: 30px;
  min-width: 250px;
  text-align: center;
}
nav a:visited, a:link {
  color: black;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #212425;
}

