<app-header></app-header>
<app-comp-new></app-comp-new>
<!--<nav class="container">
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/products">Products</a>
</nav>-->
<div style="text-align:center">
<!-- <h1>
    Welcome to {{ title }}!
  </h1> -->
    <img width="300" alt="Angular Logo" src="http://images.indulgexpress.com/uploads/user/imagelibrary/2018/7/26/original/mandalay-bay-retail-resort-shops-shopping-bags.jpg">
</div>

<h2>Happy Shopping: </h2>
<router-outlet class="page-container"></router-outlet>
<app-messages class="container"></app-messages>
<app-footer></app-footer>
